<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<a href="{% url 'account:logout' %}">logout</a>
<form method="post" enctype="multipart/form-data">{% csrf_token %}
    {{update_form}}
    <button type="submit">Update</button>
</form>
<hr>
<form method="post">{% csrf_token %}
    {{change_password_form}}
    <button type="submit">Change</button>
</form>
</body>
</html>